
body {
    background-color: black;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    color: #F9FAF8;
    background-color: black;
    padding: 20px 0px 20px 100px;
    align-items: center;
    
}

.header-links a{
    text-decoration: none;
    color: crimson;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.header-links{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}


.header-logo img{
    width: 100px;
    height: 100px;
    margin-right: auto;
    
  
}

.HeroBox{
    display: flex;
    background-color: black;
    color: crimson;
    align-items: center;
    justify-content: center;
    padding: 500px;
}

.HeroText{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.HeroText p{
    font-family: 'roboto', 'arial';
    opacity: 0.8;
    font-size: 18px;

}

h1{
font-size: 48px;
font-weight: bolder;
margin: 0;
}

.HeroBox img{
    width: 500px;
    height: 250px;
}

.HeroBox button{
    display: block;
    width: 110px;
    background-color: red;
    color: black;
    border-radius: 10%;
    border-color: crimson;
    font-weight: bolder;
    text-decoration: none;
}
